@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.choice-container {
    margin-bottom: 0.8rem;
    width: 70%;
    border-radius: 3rem;
    background: #4cb5ff;
    font-size: 2.5rem;
    min-width: 65rem;
    justify-content: center;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #000000;
}

.choice-text {
    margin-bottom: 0.2em;
    width: 100%;
    color: #000000;
    text-align: center;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* heads up display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {

    width: 50rem;
    height: 4rem;
    border: 0.3rem solid black;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}