@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #a6051a;
    background-size: cover;
    font-weight: 500;
    font-family: 'montserrat';
}

.leaderboard-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 20px;
    height: 400px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 6rem;
    width: 50%;
    background: white;
}

#final-score {

    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
}

#leaderboardList {

    font-weight: 600;
    list-style: none;
}

.flex-column {

    justify-content: center;
    align-items: center;
}


.playAgainBtn {

    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
    background-color: #ffeb00;
    color: #111111;
    padding: 0.2em 0.3em;
    margin: 1em 2em;
    border: 0.3rem solid #111111;
    margin-bottom: 0.5rem;
}

.playAgainBtn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.homeBtn {

    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
    background-color: #ffeb00;
    color: #111111;
    padding: 0.2em 0.3em;
    margin: 1em 2em;
    border: 0.3rem solid #111111;
    margin-top: 0.5rem;
}

.homeBtn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

@media screen and (max-width: 760px) {
   
    .leaderboard-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid;
        border-radius: 20px;
        height: 400px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        width: 70%;
        background: white;
    }
}

@media screen and (max-width: 375px) {

    .leaderboard-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid;
        border-radius: 20px;
        height: 400px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        width: 70%;
        background: white;
    }
}