@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

#progressText {
    color: #ffeb00;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

#question {
    text-align: center;
    font-weight: 650;
    color: #ffeb00;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.quizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.choice-container {
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 3rem;
    background: #111111;
    font-size: 1rem;
    min-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.choice-prefix {
    padding: 0.5rem 3rem;
    color: #ffeb00;
}

.choice-text {
    font-size: 1.5rem;
    margin-bottom: 0.2em;
    width: 100%;
    color: #ffeb00;
    text-align: center;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* heads up display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
}

#home-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

#restart-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.btn {
   background-color: #111111;
   color: #ffeb00;
   font-weight: bold;
   padding: 1rem;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}