@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

#progressText {
    color: #ffeb00;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.quizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px black;
}

h2 #question {
    text-align: center;
    font-weight: 650;
    color: #ffeb00;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    max-width: 90%;
    height: 350px;
    padding: 3rem;
    margin: 0 auto;
    background: white;
}

.choice-container {
    margin: 15px 0;
    border-radius: 4px;
    background: #111111;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.choice-text {
    font-size: 1.5rem;
    margin-bottom: 0.2em;
    width: 100%;
    color: #ffeb00;
    text-align: center;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* heads up display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
}

#home-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

#restart-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.btn1 {
   background-color: #111111;
   color: #ffeb00;
   font-weight: bold;
   padding: 1rem;
}

@media screen and (max-width: 375px) {
    .quizz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .choice-container {

        border-radius: 5px;
        font-size: 1rem;
        display: flex;
        border: 3px solid;
    }

    .container {
        height: 700px;
    }

}

@media screen and (max-width: 760px) {
    
    .container {
        height: 700px
    }
}