@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Structure and color theme of the website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6051a;
    background-size: cover;
    font-weight: 500;
    font-family: 'montserrat';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #000000;
}


header {
    text-align: center;
    font-size: 2.2rem;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

/* Structure for the home buttons elements */

#Home-container {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

#F1-quizz-title {
    color: #111111;
}


#play-btn {
   font-size: 3rem;
   font-weight: 700;
   border-radius: 4px;
   background-color: #ffeb00;
   color: #111111;
   padding: 0.2em 0.3em;
   margin: 1em 2em;
   border: 0.4rem solid #111111;
}

#play-btn:hover {
   color: #ffeb00;
   background-color: #111111;
   cursor: pointer;
   border: 0.4rem solid #ffeb00;
}

#instruction-btn {
    font-size: 3rem;
    font-weight: 700;
    border-radius: 4px;
    background-color: #ffeb00;
    color: #111111;
    padding: 0.2em 0.3em;
    margin: 0em 1em;
    border: 0.4rem solid #111111;
}

#instruction-btn:hover {
    color: #ffeb00;
    background-color: #111111;
    cursor: pointer;
    border: 0.4rem solid #ffeb00;
}

#leaderbrd-btn {
   font-size: 3rem;
   font-weight: 700;
   border-radius: 4px;
   background-color: #ffeb00;
   color: #111111;
   padding: 0.2em 0.3em;
   margin: 1em 2em;
   border: 0.4rem solid #111111;
}

#leaderbrd-btn:hover {
    color: #ffeb00;
    background-color: #111111;
    cursor: pointer;
    border: 0.4rem solid #ffeb00;
}

a {
    text-decoration: none;
}

/* CCS styling for the instruction.html file */

.instructions {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    max-width: 50%;
    height: 350px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 6rem;
    background: white;

}

.instructions p {
    margin-bottom: 1rem;
}

#start-quizz {
    font-size: 3rem;
    font-weight: 600;
    background-color: #ffeb00;
    color: #111111;
    margin: 0 auto;
    border: 0.4rem solid #111111;
    margin-top: 4rem;
    border-radius: 4px;
}

#start-quizz:hover {
    cursor: pointer;
    transform: scale(1.06);
}

@media screen and (max-width: 375px) {
    .instructions {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        max-width: 70%;
        height: 450px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        background: white;
    
    }

    .instructions p {
        margin-top: 2rem;
    }

    #start-quizz {
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #ffeb00;
        color: #111111;
        margin: 0 auto;
        border: 0.4rem solid #111111;
        margin-top: 4rem;
        border-radius: 4px;
    }

}

@media screen and (max-width: 480px) {
    .instructions {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        max-width: 70%;
        height: 600px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        background: white;
    
    }
}

@media (min-width: 656px) and (max-width: 1023px) {
    .instructions {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        max-width: 70%;
        height: 1100px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        background: white;
    
    }
}


@media screen and (max-width: 655px) {
    .instructions {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        max-width: 70%;
        height: 600px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        background: white;
    
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .instructions {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        max-width: 70%;
        height: 900px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 6rem;
        background: white;
    
    }

    .instructions p {
        font-size: 2rem;
    }

    h1 {
        font-weight: 900;
    }
}



