@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6051a;
    background-size: cover;
    font-weight: 500;
    font-family: 'montserrat';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #000000;
}


header {
    text-align: center;
    font-size: 2.2rem;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}


#Home-container {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

#F1-quizz-title {
    color: #111111;
}


#play-btn {
   font-size: 3.5rem;
   font-weight: 700;
   border-radius: 3rem;
   background-color: #ffeb00;
   color: #111111;
   padding: 0.2em 0.3em;
   margin: 1em 2em;
   border: 0.4rem solid #111111;
}

#play-btn:hover {
   color: #ffeb00;
   background-color: #111111;
   cursor: pointer;
   border: 0.4rem solid #ffeb00;
}

#instruction-btn {
    font-size: 3.5rem;
    font-weight: 700;
    border-radius: 3rem;
    background-color: #ffeb00;
    color: #111111;
    padding: 0.2em 0.3em;
    margin: 0em 1em;
    border: 0.4rem solid #111111;
}

#instruction-btn:hover {
    color: #ffeb00;
    background-color: #111111;
    cursor: pointer;
    border: 0.4rem solid #ffeb00;
}

#leaderbrd-btn {
   font-size: 3.5rem;
   font-weight: 700;
   border-radius: 3rem;
   background-color: #ffeb00;
   color: #111111;
   padding: 0.2em 0.3em;
   margin: 1em 2em;
   border: 0.4rem solid #111111;
}

#leaderbrd-btn:hover {
    color: #ffeb00;
    background-color: #111111;
    cursor: pointer;
    border: 0.4rem solid #ffeb00;
}

a {
    text-decoration: none;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 25rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 2px solid #000000;
}


.save-btn {
    background-color: #a6051a;
    color: #000000;
    font-weight: bold;
    padding: 1rem;
}

.playAgainBtn {

    background-color: #a6051a;
    color: #000000;
    font-weight: bold;
    padding: 1rem;
}

.homeBtn {
    background-color: #a6051a;
    color: #000000;
    font-weight: bold;
    padding: 1rem;
}


